<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Personajes de Rick y Morty </ion-title>
    <ion-buttons slot="start">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @for (Personajes of personajesArray; track 'id') {
  <ion-item>
    <ion-avatar slot="start">
      <img [src]="Personajes.image" [alt]="Personajes.name" />
    </ion-avatar>
    <ion-label>
      <h2>{{Personajes.name}}</h2>
    </ion-label>
    <ion-chip slot="end">
      <ion-label>{{Personajes.species}}</ion-label>
    </ion-chip>
  </ion-item>
  }
</ion-content>
